@import "tailwindcss";

:root {
  --background: #427EA9;
  --lightblue: #6399B2;
  --lightbeige: #AA927B;
  --brown: #4D2A1A;
  --font: #F9F8EE;
  --lemon: #EFF889;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--font);
  font-family: var(--font-montserrat);
}

.bg-result {
  background-color: var(--font); /* 원하는 색상 */
}

.bg-about {
   background-color: black;
}